### ROOT FOLDER ###
.git
.gitignore
*.dockerfile
README

### BACKEND ###
backend/.idea
backend/target

### FRONTEND ###
frontend/.vscode
frontend/node_modules
forntend/build
frontend/package-lock.json
